.book__page {
    width: 100%;
    height: auto;
    background: #28353e;
    position: absolute;
    top: 0;
    // display: none;

    .user {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        background-color: #1a2228;
        padding: 10px 20px;
        border-bottom-left-radius: 5px;
        gap: 20px;
        transition: 0.4s;
        box-shadow: 0px 2px 20px white;

        &:hover {
            box-shadow: 0px 2px 20px rgb(0, 255, 0);
        }

        p {
            color: rgb(255, 255, 255);
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 2px;
        }

        button {
            color: rgb(255, 255, 255);
            background-color: rgba(102, 51, 153, 0);
            padding: 5px 10px;
            border: 2px solid white;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                border: 2px solid rgb(0, 255, 0);
                box-shadow: 0 2px 10px rgb(0, 255, 0);
                ;
            }
        }
    }
    #btn__create {
        position: absolute;
        top: 0;
        margin: auto;
        width: 300px;
        height: 50px;
        color: rgb(255, 255, 255);
        border-bottom-right-radius: 5px;
        border: none;
        background-color: #28353e;
        border: 3px solid white;
        font-size: 18px;
        font-weight: 600;
        transition: 0.2s;
        box-shadow: 0 0 10px white;

        &:hover {
            border: 2px solid rgb(0, 255, 0);
            cursor: pointer;
            box-shadow: 0 2px 10px rgb(0, 255, 0);

        }
    }
    .container {
        max-width: 1200px;
        margin: auto;
        padding: 50px 15px;
        display: flex;
        flex-direction: column;
        // align-items: center;

        .book__list {
            font-size: 70px;
            font-weight: 600;
            letter-spacing: 4px;
            color: white;
            text-shadow: 0 0 20px white;
            margin-bottom: 40px;
            text-align: center;
            transition: 0.2s;

            &:hover {
                text-shadow: 0 0 10px rgb(0, 255, 0);
            }
        }

        .book__items {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;

            .item {
                width: calc(50% - 15px);
                position: relative;
                height: auto;
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
                gap: 0 10px;
                border: 2px solid white;
                border-radius: 5px;
                padding: 30px;
                box-shadow: 0px 2px 20px rgba(255, 255, 255, 0.8);
                transition: 0.4s;

                &:hover {
                    border: 2px solid white;
                    box-shadow: 0px 2px 20px rgb(0, 255, 0);
                }

                .block__text {
                    display: flex;
                    gap: 10px;
                    justify-content: space-between;
                    flex-direction: column;

                    .item__title {
                        margin-bottom: 15px;
                        font-size: 30px;
                        font-weight: 700;
                        color: rgb(255, 255, 255);
                        cursor: pointer;
                    } 

                    .item__descr {
                        font-size: 22px;
                        font-weight: 600;
                        color: rgb(255, 255, 255);
                    }
                }

                .block__items {
                    gap: 20px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .favorite__block {
                        position: absolute;
                        top: 30px;
                        right: 20px;
                        .favorite {
                            -webkit-appearance: none;
                            width: 100%;
                            position: absolute;
                            height: 100%;
                        }
    
                        .favorite:checked+.favorite-label {
                            background: url("../assets/img/favorite-Active.svg");
                        }
    
                        .favorite-label {
                            width: 40px;
                            height: 40px;
                            display: flex;
                            border-radius: 50%;
                            cursor: pointer;
                            background-image: url('../assets/img/favorite.svg');
                            background-size: cover;
    
                        }
                    }

                    .trash {
                        position: absolute;
                        bottom: 30px;
                        right: 20px;
                        width: 40px;
                        height: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        background-color: white;
                        border: 2px solid gray;
                        cursor: pointer;

                        svg {
                            width: 20px;
                            height: 20px;
                            fill: grey;
                        }
                    }
                }
            }
        }

  
    }
}

@media (max-width:768px) {
    .book__page {
        .container {
            .book__list {
                font-size: 60px;
            }

            .book__items {
                gap: 15px;

                .item {
                    width: calc(50% - 7.5px);
                    padding: 20px 15px;

                    .block__text {
                        .item__title {
                            margin-bottom: 10px;
                            font-size: 24px;
                        }

                        .item__descr {
                            font-size: 18px;
                        }
                    }

                    .block__items {
                        gap: 20px;
                        display: flex;
                        flex-direction: column;

                        .favorite__block  {
                            top: 10px;
                            width: 35px;
                            height: 35px;
                            .favorite-label {
                                width: 35px;
                                height: 35px;
                                display: flex;
                                border-radius: 50%;
                                cursor: pointer;
                                background-image: url('../assets/img/favorite.svg');
                                background-size: cover;
        
                            }
                        }
                        .trash {
                            bottom: 10px;
                            width: 35px;
                            height: 35px;

                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }

        }
    }
}

@media (max-width:550px) {
    .book__page {
        .user {
            padding: 10px 15px;

            p {
                font-size: 18px;
            }

            button {
                padding: 3px 8px;
            }
        }
        #btn__create {
            position: absolute;
            top: 70px;
            right: 0;
            width: 100%;
        }
        .container {
            margin-top: 100px;
            .book__list {
                font-size: 50px;
            }

            .book__items {
                flex-direction: column;
                flex-wrap: nowrap;
                gap: 15px;

                .item {
                    width: 100%;
                    padding: 15px;

                    .block__text {
                        .item__title {
                            margin-bottom: 10px;
                            font-size: 24px;
                        }

                        .item__descr {
                            font-size: 18px;
                        }
                    }

                    .block__items {
                        justify-content: space-between;

                        .favorite,
                        .trash {
                            width: 35px;
                            height: 35px;

                            svg {
                                width: 16px;
                                height: 16px;
                            }
                        }
                    }
                }
            }

        }
    }
}